 {% extends '::base.html.twig' %} {% block body %}
<h1>Isotope - masonry gutter, with margin bottom</h1>

<div id="model_container">
	<div class="model_item width2 height2">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% for photo in photos %}
	<div class="model_item">
		<a class="fancybox" rel="group"
			href="{{'/uploads/'~photo.getPath()~'.jpg'}}"> <img width="100%"
			height="100%" src="{{'/uploads/'~photo.getPath()~'.jpg'}}" alt=""></a>
	</div>
	{% endfor %}
</div>


{% endblock %} {% block javascripts %} {% endblock %}
