<footer class="footer">
<p class="text-center">©2015 Meifang, <a href="http://www.skylineproperties.com/">Skyline Properties Inc</a>, <a href="http://www.crcmvc.com">ChinaRock Capital Management</a></p>
</footer>
