body {
	background-image: url(/images/bg.png);
	background-repeat: repeat;
}

/* Header */
/** HEADER **/
.headerCases .cta {
	font-weight: 600;
	margin-top: 6px;
	margin-right: 10px;
}

.headerCases {
	float: left;
	margin-left: 30px;
}

/** SLIDER **/
.builderSlider {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

.builderContent {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

/** GENEREL **/
.cta {
	background: transparent;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	letter-spacing: 0.5px;
	outline: none;
	position: relative;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta::after {
	content: '';
	position: absolute;
	z-index: -1;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta.white {
	border-color: white;
	color: white;
}

.cta.white:hover {
	background: white;
	color: #252425;
}

.cta.blue {
	border-color: #286eab;
	color: #286eab;
}

.cta.blue:hover {
	background: #286eab;
	color: white;
}

.cta.grey {
	border-color: #bebebe;
	color: #dddddd;
}

.cta.grey:hover, .cta.grey.active {
	border-color: white;
	color: white;
}

.cta.black {
	border-color: #252425;
	color: #252425;
}

.cta.black:hover {
	background: #252425;
	color: white;
}

.cta.blue.filled {
	background: #286eab;
	color: white;
}

.cta.blue.filled:hover {
	background: transparent;
	border: 2px solid #286eab;
	color: #286eab;
}

.cta.small {
	float: left;
	font-size: 14px;
	line-height: 1;
	padding: 10px 20px;
}

.cta.big {
	float: left;
	font-size: 22px;
	line-height: 1;
	padding: 18px 38px;
}

.model-thumb {
	display: inline-block;
	width: 348px;
	height: 220px;
	border: 0px;
	margin-top: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
}

.model-facade-thumb {
	display: inline-block;
	width: 326px;
	height: 220px;
	border: 0px;
	margin-top: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
}

.floorplan-thumb-box {
	display: inline-block;
	width: 348px;
	height: 348px;
	border: 1px;
	border-style: solid;
	border-color: #2092d7;
	margin-top: 15px;
	margin-right: 15px;
	padding: 5px 5px 5px 5px;
}

.floorplan-thumb {
	width: auto;
	max-height: 334px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 10px;
	column-fill: auto;
	margin-top: 15px;
}

#community-columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 1px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 15px 2px 0px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	width: 370px;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin-builder {
	padding-top: 2px !important;
	padding-bottom: 0px !important;
	border-bottom: 0px !important;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.pin-glyphicon {
	font-size: 12px;
	color: #a5a5a5;
}

@media ( min-width : 1170px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 970px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 768px) and ( max-width : 970px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media ( max-width : 768px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.cover-text {
		display: none;
	}
}

.model-side-detail {
	margin-top: 15px;
	margin-right: 15px;
}

.piece {
	margin-top: 20px;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	-webkit-column-break-inside: avoid;
	display: block;
	position: relative;
}

table {
	font-size: small;
}

.area-cover {
	margin-top: 15px;
}

.cover-text {
	float: left;
	width: 50%;
	height: auto;
	position: absolute;
	left: 105px;
	top: 65px;
	color: #eeeeee;
}

.model-label {
	position: relative;
	left: -20px;
	top: -20px;
}

.model-detail-column {
	margin-left: -10px;
	padding-right: 5px;
}

.ribbon-wrapper-green {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -7px;
	right: -5px;
}

.ribbon-green {
	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A),
		to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #6a6340;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before, .ribbon-green:after {
	content: "";
	border-top: 3px solid #6e8900;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	bottom: -3px;
}

.ribbon-green:before {
	left: 0;
}

.ribbon-green:after {
	right: 0;
}

.category-bar {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.category-item {
	/* force the div to properly contain the floated images: */
	position: relative;
	clear: none;
	overflow: hidden;
	margin: 0 auto;
	margin-right: 10px;
	display: inline-block;
}

.category-item img {
	position: relative;
	z-index: 1;
}

.category-item .category-desc {
	display: block;
	position: absolute;
	width: 100%;
	top: 25%;
	left: 0;
	z-index: 2;
	color: #eeeeee;
}
t