/* Header */
/** HEADER **/

.headerCases .cta {
	font-weight: 600;
	margin-top: 6px;
	margin-right: 10px;
}

.headerCases {
	float: left;
	margin-left: 30px;
}

/** SLIDER **/
.builderSlider {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

.builderContent {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

/** GENEREL **/
.cta {
	background: transparent;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	letter-spacing: 0.5px;
	outline: none;
	position: relative;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta::after {
	content: '';
	position: absolute;
	z-index: -1;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta.white {
	border-color: white;
	color: white;
}

.cta.white:hover {
	background: white;
	color: #252425;
}

.cta.blue {
	border-color: #286eab;
	color: #286eab;
}

.cta.blue:hover {
	background: #286eab;
	color: white;
}

.cta.grey {
	border-color: #9e9e9e;
	color: #dddddd;
}

.cta.grey:hover, .cta.grey.active {
	border-color: white;
	color: white;
}

.cta.black {
	border-color: #252425;
	color: #252425;
}

.cta.black:hover {
	background: #252425;
	color: white;
}

.cta.blue.filled {
	background: #286eab;
	color: white;
}

.cta.blue.filled:hover {
	background: transparent;
	border: 2px solid #286eab;
	color: #286eab;
}

.cta.small {
	float: left;.headerCasesFilters
	font-size: 14px;
	line-height: 1;
	padding: 10px 30px;
}

.cta.big {
	float: left;
	font-size: 22px;
	line-height: 1;
	padding: 18px 38px;
}