body {
	background-image: url(/images/bg.png);
	background-repeat: repeat;
}

/* Header */
/** HEADER **/
.headerCases .cta {
	font-weight: 600;
	margin-top: 6px;
	margin-right: 10px;
}

.headerCases {
	float: left;
	margin-left: 30px;
}

/** SLIDER **/
.builderSlider {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

.builderContent {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	background: no-repeat center 0;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

/** GENEREL **/
.cta {
	background: transparent;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	letter-spacing: 0.5px;
	outline: none;
	position: relative;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta::after {
	content: '';
	position: absolute;
	z-index: -1;
	/** CSS3 **/
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cta.white {
	border-color: white;
	color: white;
}

.cta.white:hover {
	background: white;
	color: #252425;
}

.cta.blue {
	border-color: #286eab;
	color: #286eab;
}

.cta.blue:hover {
	background: #286eab;
	color: white;
}

.cta.grey {
	border-color: #9e9e9e;
	color: #dddddd;
}

.cta.grey:hover, .cta.grey.active {
	border-color: white;
	color: white;
}

.cta.black {
	border-color: #252425;
	color: #252425;
}

.cta.black:hover {
	background: #252425;
	color: white;
}

.cta.blue.filled {
	background: #286eab;
	color: white;
}

.cta.blue.filled:hover {
	background: transparent;
	border: 2px solid #286eab;
	color: #286eab;
}

.cta.small {
	float: left;
	font-size: 16px;
	line-height: 1;
	padding: 10px 30px;
}

.cta.big {
	float: left;
	font-size: 22px;
	line-height: 1;
	padding: 18px 38px;
}

.model-thumb {
	display: inline-block;
	width: 348px;
	height: 220px;
	border: 0px;
	margin-top: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
}

.model-facade-thumb {
	display: inline-block;
	width: 326px;
	height: 220px;
	border: 0px;
	margin-top: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
}

.floorplan-thumb-box {
	display: inline-block;
	width: 348px;
	height: 348px;
	border: 1px;
	border-style: solid;
	border-color: #2092d7;
	margin-top: 15px;
	margin-right: 15px;
	padding: 5px 5px 5px 5px;
}

.floorplan-thumb {
	width: auto;
	max-height: 334px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 10px;
	column-fill: auto;
}

#community-columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin-builder {
	padding-top: 2px !important;
	padding-bottom: 0px !important;
	border-bottom: 0px !important;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.pin-glyphicon {
	font-size: 12px;
	color: #a5a5a5;
}

@media ( min-width : 1170px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 970px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media ( min-width : 768px) and ( max-width : 1170px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media ( max-width : 768px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.model-gallery {
	padding-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

.model-side-detail {
	margin-top: 15px;
	margin-right: 15px;
}

.piece {
	margin-top: 20px;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	-webkit-column-break-inside: avoid;
	display: block;
}

table {
	font-size: small;
}